* Print is noting but the function in python.
* We can create our own function also in python.

In [2]:
print("This is my first programm")

This is my first programm

In [4]:
# This was correct in the python 2.x version not in 3.x version
print "This is my fist programm"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("This is my fist programm")? (1277816213.py, line 2)

* For single line comment, we can use # at the starting of the line.
* For multiple line comment, we use tripple quotes at the starting and at the end of the code.

### Variables in python

* Variables are used to store the data.
* Role of the variableis keeping the data in main memory.
* Main memory is nothing but the RAM. It is a temporary memory.
* If we shut down our system and reopen then all the variables will be gone, we have to run it again.

In [6]:
a = 10

* In python, variables are capable of understanding the data autmatically, We do not need to give the variables name lie other programming languages.

### TYPE FUNTION
* Type is the function that will check the data type.

In [7]:
type(a)

int

In [18]:
# The output of any float will be shown in single quote only.
b = "Vijyendra Singh"
b

'Vijyendra Singh'

In [19]:
type(b)

str

In [20]:
c = True

In [21]:
type(c)

bool

In [22]:
d = 56.87

In [23]:
type(d)

float

In [14]:
e = 78 + 76j

In [15]:
type(e)

complex

* We can call the variables by two methods. 
* First by calling the variables name. 
* Second is by using the print function.

In [24]:
a

10

In [25]:
print(a)

10

In [27]:
b

'Vijyendra Singh'

In [28]:
print(a, b, "Singh")

10 Vijyendra Singh Singh

In [29]:
a, b = 40, "Vijyendra"

In [30]:
a

40

In [31]:
b

'Vijyendra'

In [32]:
type(a)

int

In [33]:
type(b)

str

In [34]:
# If we call variables by this way then output will always come as a tupple.
a,b

(40, 'Vijyendra')

* Variables name can not be started with number

In [35]:
1b = "Vijyendra"

SyntaxError: invalid syntax (3123592570.py, line 1)

In [37]:
# Variables name can start with the under score
_b = "kkag"

In [38]:
name = "Vijyendra"
user_id = "62581"
password = "kagdkd"
mail = "Vijyendra@gmail.com"

In [39]:
a = 10.6

In [40]:
type(a)

float

In [41]:
c = True
d = False
type(c)
type(d)

bool

In [42]:
print(True + True + False+True)

3

In [43]:
print(False - True + True)

0

In [44]:
True + True

2

In [45]:
True + False

1

In [46]:
True * True

1

In [47]:
True / False

ZeroDivisionError: division by zero

In [48]:
False / False

ZeroDivisionError: division by zero

### Complex Number
* In complex number, for imaginary we must use only j in python

In [52]:
n = 45 + 7j

In [53]:
type(n)

complex

In [54]:
n.real

45.0

In [57]:
n.imag

7.0

In [58]:
m = 56 +9j

In [59]:
n + m

(101+16j)

In [60]:
n-m

(-11-2j)

In [61]:
n*m

(2457+797j)

In [62]:
n/m

(0.8029219769972024-0.004041032017407531j)

* Python is like a dynamic programming. we do not need to say about the variable type, It autmatically detects the data type.

In [63]:
1 + "Vijyendra"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

* In the above line of code 1 is having different data type and "Vijynedra" is having the different data type.
* Python will only be able to operate with the same data type. It will not work with the differenr data type.

* Type csting is nothing but the converting one data type into other data type

In [64]:
str(1) + "Vijyendra"

'1Vijyendra'

In [66]:
str(1) + " " + "Vijyendra"

'1 Vijyendra'

* Python supports strong typing as well as dynamic typing

In [67]:
1 + 1.0

2.0

In [68]:
type(1 + 1.0)

float

* Floating point number always takes more memory than integer point number.
* Python always does upcasting in this case.

* Concatinating Operation

In [69]:
"Vij" + "Vij" + "Vij"

'VijVijVij'

* Multiplication in case of string is nothing but, that many times string will be repeated.

In [70]:
"Vij" * 3

'VijVijVij'

In [71]:
"Vij" / 3

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [72]:
"Vij" - "Vij"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [73]:
int('23')

23

In [74]:
type(int('23'))

int

In [76]:
int('Vij')

ValueError: invalid literal for int() with base 10: 'Vij'

### Input Data

In [77]:
a = input()

"xgjag"

In [78]:
type(a)

str

In [79]:
b = input("Enter a number\n")

Enter a number
345

In [80]:
type(b)

str

* input() always gives the string data type as an output

In [86]:
a = int(input("Enter a number: "))
b = int(input("Enter a number: "))
c = int(input("Enter a number: "))

o = ((a+b)/c)
print("o: ", o)

# Even without converting integer to complex we can perform operation with complex
o1 = complex(a) + (9 +7j)
o2 = a + (67 +98j)
print("o1: ", o1)
print("o2: ", o2)

o3 = str(a) + "Vijyendra"
print("o3: ", o3)

Enter a number: 23
Enter a number: 34
Enter a number: 45
o:  1.2666666666666666
o1:  (32+7j)
o2:  (90+98j)
o3:  23Vijyendra

### Decision making statement

In [89]:
a = int(input("Enter the integer lower than 34:---"))

Enter the integer lower than 34:---35

In [90]:
if a<34:
    pass
else:
    print("The value is greater than 34")

The value is greater than 34

* Pass is something, which will close the statement with no ouput at the end 
* If we dont want to write as statement then use pass to complete the hierarchy

In [91]:
if a<34:
    print("Data input is lesser than 34")
elif a<100:
    print("Data is lesser than 100")
else:
    print("Data point is greater than 34, and everything is not fine")

Data is lesser than 100

In [92]:
salary = int(input("Enter your salary"))
if salary > 1000:
    print("I Will buy a car")
elif salary > 500:
    print("I will buy a bike")
elif salary > 100:
    print("I will not buy anything")
else:
    print("I will go for saving")

Enter your salary10000
I Will buy a car

In [94]:
salary = int(input("Enter your salary"))
if salary > 1000:
    print("Your salary is good")
    if salary < 5000:
        print("I will go for car nano")
        if True:
            print("False code")
    elif salary < 10000:
        print("I will go for maruti")
    elif salary < 50000:
        print("I will go for Toyota car")
    else:
        print("I will go for rent")
elif salary > 500:
    print("I will buy a bike")
elif salary > 100:
    print("I will not buy anything")
else:
    print("I will go for saving")

Enter your salary2000
Your salary is good
I will go for car nano
False code

In [96]:
# Printing 
a = 10
print(a)

10

In [98]:
# Displaying 
a

10

In [99]:
print(id(b))

2616015809872

In [100]:
(a,b,c)= input()

2 3 4

ValueError: too many values to unpack (expected 3)

In [101]:
(a,b,c)= input()

123

In [102]:
a

'1'

In [103]:
b

'2'

In [104]:
c

'3'